HTTP: Should not be send Content-Type when is used http method without payload when use asXXX()

Regarding to [RFC7231 Section 3.1.1.5](https://www.rfc-editor.org/rfc/rfc7231#section-3.1.1.5) when is used [asXXX()](https://gatling.io/docs/gatling/reference/current/http/request/#asxxx) when is creating request should be checked if request have `.body()` if not there shouldn't be set header `content-type`. 
At this moment is always set.


I ended up favoring ease of use for the end user and doing as you advised.

Thanks @gemiusz !