gatling  doesnot support "browser-compatible mode" when upload file

Really, there's nothing we can do with such issue.
Please elaborate on what your expecting and how Gatling doesn't work as expected.

Hi , here is the detail of my problem:
I have a http server which is providered for uploading file,and I wrote a script to do a load test. When I use gatling-3.0.0-snapshot,it works well,but  running with gatling-3.0.1-release,it met some problems .
So I try to use JMeter to do a load test.what makes me confused is that when I set "browser compatible header" in JMeter-GUI,it works well,but when I uncheck it,it also met some problems just like gatling-3.0.1-release.
And I download source of JMeter-5.1.1, here is the code:
```
org.apache.jmeter.protocol.http.sampler.PostWriter#writeFormMultipart:
 /**
     * Writes form data in multipart format.
     */
    private void writeFormMultipart(OutputStream out, String name, String value, String charSet, 
            boolean browserCompatibleMultipart)
        throws IOException {
        writeln(out, "Content-Disposition: form-data; name=\"" + name + "\""); // $NON-NLS-1$ // $NON-NLS-2$
        if (!browserCompatibleMultipart){
            writeln(out, "Content-Type: text/plain; charset=" + charSet); // $NON-NLS-1$
            writeln(out, "Content-Transfer-Encoding: 8bit"); // $NON-NLS-1$
        }
        out.write(CRLF);
        out.write(value.getBytes(charSet));
        out.write(CRLF);
        // Write boundary end marker
        out.write(getMultipartDivider());
    }

and:
org.apache.jmeter.protocol.http.sampler.HTTPHC4Impl#setupHttpEntityEnclosingRequestData：

 // Write the request to our own stream
            MultipartEntityBuilder multipartEntityBuilder = MultipartEntityBuilder.create();
            if(getDoBrowserCompatibleMultipart()) {
                multipartEntityBuilder.setLaxMode();
            } else {
                multipartEntityBuilder.setStrictMode();
            }

public MultipartEntityBuilder setLaxMode() {
        this.mode = HttpMultipartMode.BROWSER_COMPATIBLE;
        return this;
    }


package org.apache.http.entity.mime;

/**
 *
 * @since 4.0
 */
public enum HttpMultipartMode {

    /** RFC 822, RFC 2045, RFC 2046 compliant */
    STRICT,
    /** browser-compatible mode, i.e. only write Content-Disposition; use content charset */
    BROWSER_COMPATIBLE,
    /** RFC 6532 compliant */
    RFC6532

}
```
So,is it because gatling-3.0.1-release using netty instead of httpclient in 2.x?

> So,is it because gatling-3.0.1-release using netty instead of httpclient in 2.x?

Gatling was never built on top of Apache HttpClient in the first place. It used to be built on top of [AsyncHttpClient](https://github.com/AsyncHttpClient/async-http-client) but now has its own internal HTTP client.

Then, if you're using Gatling 3.0.1, you're using an old version.

Please upgrade to latest release and report again if you still have an issue.
I've tested with current master and we generate the same kind of payload as Chrome, meaning [multipart/form-data](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition) by default (without `Content-Type` and `Content-Transfer-Encoding` attributes).

Closing for now.